<section id="about" class="about section">

    <div class="container section-title" data-aos="fade-up">
      <span class="my-shadow"> {{'aboutCourses.course10' |translate}} <br></span>
      <h2 class="">{{'aboutCourses.course10' |translate}}<br></h2>
      <p>{{'quantity.title' |translate}}
        </p>
    </div>

    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
          <img src="assets/img/about.jpg" class="img-fluid" alt="">
        </div>

        <div class="col-lg-6 order-2 order-lg-1 content" data-aos="fade-up" data-aos-delay="200">
       
          <ul>
           
            <li><i class="bi bi-check-circle"></i> <span>{{'quantity.f1' |translate}} </span></li>
           <li><i class="bi bi-check-circle"></i> <span> {{'quantity.f2' |translate}}</span></li>
           <li><i class="bi bi-check-circle"></i> <span> {{'quantity.f3' |translate}} </span></li>
           <li><i class="bi bi-check-circle"></i> <span> {{'quantity.f4' |translate}} </span></li>
           <li><i class="bi bi-check-circle"></i> <span>{{'quantity.f5' |translate}} </span></li>
           <li><i class="bi bi-check-circle"></i> <span>{{'quantity.f6' |translate}} </span></li>
           <li><i class="bi bi-check-circle"></i> <span>{{'quantity.f7' |translate}} </span></li>
           <li><i class="bi bi-check-circle"></i> <span> {{'quantity.f8' |translate}}</span></li>
           <li><i class="bi bi-check-circle"></i> <span> {{'quantity.f9' |translate}} </span></li>
           <li><i class="bi bi-check-circle"></i> <span> {{'quantity.f10' |translate}} </span></li>
           <li><i class="bi bi-check-circle"></i> <span>{{'quantity.f11' |translate}} </span></li>
          


            <h6> {{'quantity.f12' |translate}}   </h6><br>


                <h6>{{'quantity.f13' |translate}}</h6>

    
   
          </ul>


       
        </div>

      </div>

    </div>

  </section><!-- /About Section -->