<section id="about" class="about section">

    <div class="container section-title" data-aos="fade-up">
      <span class="my-shadow">{{'aboutCourses.course1' |translate}} <br></span>
      <h2 class=""> {{'aboutCourses.course1' |translate}} <br></h2>
      <P> {{'max.title' |translate}}
       </P>
    </div>

    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
          <img src="assets/img/about.jpg" class="img-fluid" alt="">
        </div>

        <div class="col-lg-6 order-2 order-lg-1 content" data-aos="fade-up" data-aos-delay="200">
       
          <ul>
           

           <h5>{{'max.subtitle' |translate}}:</h5>

           <li><i class="bi bi-check-circle"></i> <span> {{'max.p1' |translate}}</span></li>
           <li><i class="bi bi-check-circle"></i> <span> {{'max.p2' |translate}}</span></li>
           <li><i class="bi bi-check-circle"></i> <span> {{'max.p3' |translate}}</span></li>
           <li><i class="bi bi-check-circle"></i> <span> {{'max.p4' |translate}}</span></li>


           <li><i class="bi bi-check-circle"></i> <span> {{'max.p5' |translate}}
            </span></li>
   
          </ul>

          <h5>{{'max.p6' |translate}}</h5>

       
        </div>

      </div>

    </div>

  </section><!-- /About Section -->