<section id="about" class="about section">

    <div class="container section-title" data-aos="fade-up">
      <span class="my-shadow"> {{'Professional Training.Training Information.Journalism and Media.mainTitle' | translate}} <br></span>
      <h2 class="">{{'Professional Training.Training Information.Journalism and Media.mainTitle' | translate}} <br></h2>
      <P>{{'Professional Training.Training Information.Journalism and Media.description' | translate}}</P>
    </div>

    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
          <img src="assets/img/about.jpg" class="img-fluid" alt="">
        </div>

        <div class="col-lg-6 order-2 order-lg-1 content" data-aos="fade-up" data-aos-delay="200">
       
          <ul>
            <li><i class="bi bi-check-circle"></i> <span>{{'Professional Training.Training Information.Journalism and Media.point1' | translate}} </span></li>
            <li><i class="bi bi-check-circle"></i> <span> {{'Professional Training.Training Information.Journalism and Media.point2' | translate}}</span></li>           
           <li><i class="bi bi-check-circle"></i> <span> {{'Professional Training.Training Information.Journalism and Media.point3' | translate}}</span></li>

           <h4> {{'Professional Training.Training Information.Journalism and Media.subtitle' | translate}}</h4>

           <li><i class="bi bi-check-circle"></i> <span>{{'Professional Training.Training Information.Journalism and Media.point4' | translate}}</span></li>
           <li><i class="bi bi-check-circle"></i> <span> {{'Professional Training.Training Information.Journalism and Media.point5' | translate}}</span></li>
           <li><i class="bi bi-check-circle"></i> <span> {{'Professional Training.Training Information.Journalism and Media.point6' | translate}}</span></li>
           <li><i class="bi bi-check-circle"></i> <span> {{'Professional Training.Training Information.Journalism and Media.point7' | translate}}</span></li>
           <li><i class="bi bi-check-circle"></i> <span>{{'Professional Training.Training Information.Journalism and Media.point8' | translate}}</span></li>
           <li><i class="bi bi-check-circle"></i> <span> {{'Professional Training.Training Information.Journalism and Media.point9' | translate}}</span></li>
           <li><i class="bi bi-check-circle"></i> <span> {{'Professional Training.Training Information.Journalism and Media.point10' | translate}}</span></li>
           <li><i class="bi bi-check-circle"></i> <span> {{'Professional Training.Training Information.Journalism and Media.point11' | translate}}</span></li>
           <li><i class="bi bi-check-circle"></i> <span> {{'Professional Training.Training Information.Journalism and Media.point12' | translate}}</span></li>
           <li><i class="bi bi-check-circle"></i> <span>{{'Professional Training.Training Information.Journalism and Media.point13' | translate}}</span></li>
           





          </ul>

        <h4>{{'Professional Training.Training Information.Journalism and Media.subtitle2' | translate}}</h4>

        <ul>
            <li><i class="bi bi-check-circle"></i> <span>{{'Professional Training.Training Information.Journalism and Media.point14' | translate}}</span></li>
            <li><i class="bi bi-check-circle"></i> <span> {{'Professional Training.Training Information.Journalism and Media.point15' | translate}}</span></li>
            <li><i class="bi bi-check-circle"></i> <span> {{'Professional Training.Training Information.Journalism and Media.point16' | translate}}</span></li>
            
          </ul>

        </div>

      </div>

    </div>

  </section><!-- /About Section -->