<section id="about" class="about section">

    <div class="container section-title" data-aos="fade-up">
      <span class="my-shadow">{{'aboutCourses.course11' |translate}}<br></span>
      <h2 class=""> {{'aboutCourses.course11' |translate}}<br></h2>
      <p>{{'site.title' |translate}}
        </p>
    </div>

    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
          <img src="assets/img/about.jpg" class="img-fluid" alt="">
        </div>

        <div class="col-lg-6 order-2 order-lg-1 content" data-aos="fade-up" data-aos-delay="200">
       
          <ul>
           
            <h5>{{'site.subtitle' |translate}} :</h5>

            <li><i class="bi bi-check-circle"></i> <span>{{'site.k1' |translate}} </span></li>
            <li><i class="bi bi-check-circle"></i> <span> {{'site.k2' |translate}}</span></li>
            <li><i class="bi bi-check-circle"></i> <span> {{'site.k3' |translate}} </span></li>
            <li><i class="bi bi-check-circle"></i> <span> {{'site.k4' |translate}} </span></li>
            <li><i class="bi bi-check-circle"></i> <span>{{'site.k5' |translate}} </span></li>
            <li><i class="bi bi-check-circle"></i> <span>{{'site.k6' |translate}} </span></li>
            <li><i class="bi bi-check-circle"></i> <span>{{'site.k7' |translate}} </span></li>
            <li><i class="bi bi-check-circle"></i> <span> {{'site.k8' |translate}}</span></li>
            <li><i class="bi bi-check-circle"></i> <span> {{'site.k9' |translate}} </span></li>
            <li><i class="bi bi-check-circle"></i> <span> {{'site.k10' |translate}} </span></li>
            <li><i class="bi bi-check-circle"></i> <span>{{'site.k11' |translate}} </span></li>
            <li><i class="bi bi-check-circle"></i> <span>{{'site.k12' |translate}} </span></li>
            <li><i class="bi bi-check-circle"></i> <span>{{'site.k13' |translate}} </span></li>

            <h5>{{'site.subtitle2' |translate}}:</h5>

            <li><i class="bi bi-check-circle"></i> <span>{{'site.f1' |translate}} </span></li>
            <li><i class="bi bi-check-circle"></i> <span> {{'site.f2' |translate}}</span></li>
            <li><i class="bi bi-check-circle"></i> <span> {{'site.f3' |translate}} </span></li>
            <li><i class="bi bi-check-circle"></i> <span> {{'site.f4' |translate}} </span></li>
            <li><i class="bi bi-check-circle"></i> <span>{{'site.f5' |translate}} </span></li>
            <li><i class="bi bi-check-circle"></i> <span>{{'site.f6' |translate}} </span></li>
            <li><i class="bi bi-check-circle"></i> <span>{{'site.f7' |translate}} </span></li>
            <li><i class="bi bi-check-circle"></i> <span> {{'site.f8' |translate}}</span></li>



            <h6>{{'site.p1' |translate}}</h6><br>
          <h6> {{'site.p2' |translate}}</h6><br>
        <h6>{{'site.p3' |translate}}</h6><br>
        <h6>{{'site.p4' |translate}}</h6><br>

        <h5>{{'site.p5' |translate}}</h5>


    
   
          </ul>


       
        </div>

      </div>

    </div>

  </section><!-- /About Section -->