<section id="about" class="about section">

    <div class="container section-title" data-aos="fade-up">
      <span class="my-shadow"> {{'Professional Training.title3' | translate}}<br></span>
      <h2 class=""> {{'Professional Training.title3' | translate}}<br></h2>
      <p>{{'Professional Training.description3' | translate}}</p>
    </div>

    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
          <img src="assets/img/about.jpg" class="img-fluid" alt="">
        </div>

        <div class="col-lg-6 order-2 order-lg-1 content" data-aos="fade-up" data-aos-delay="200">
          <!-- <h3>أهــداف وأنشطه المؤسسة التي أنشأت لتحقيقها :</h3> -->
          <!-- <p class="fst-italic">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua.
          </p> -->
          <ul>
            <li><i class="bi bi-check-circle"></i> <span>{{'Professional Training.Surveying and Mapping.point1' | translate}}</span></li>
            <li><i class="bi bi-check-circle"></i> <span>{{'Professional Training.Surveying and Mapping.point2' | translate}}</span></li>
            <li><i class="bi bi-check-circle"></i> <span> {{'Professional Training.Surveying and Mapping.point3' | translate}}</span></li>
            <li><i class="bi bi-check-circle"></i> <span> {{'Professional Training.Surveying and Mapping.point4' | translate}}</span></li>
           
            
          </ul>

        <h4>{{'Professional Training.Surveying and Mapping.subtitle' | translate}}</h4>

        <ul>
            <li><i class="bi bi-check-circle"></i> <span> {{'Professional Training.Surveying and Mapping.point5' | translate}}</span></li>
            <li><i class="bi bi-check-circle"></i> <span> {{'Professional Training.Surveying and Mapping.point6' | translate}}</span></li>
            
            
          </ul>

        </div>

      </div>

    </div>

  </section><!-- /About Section -->