<section id="get-started" class="get-started section-bg">
  <div class="container">
    <div class="row justify-content-between gy-4">
      <div class="col-lg-6 d-flex align-items-center" data-aos="fade-up">
        <form
        [formGroup]="myEnrollForm"
          (ngSubmit)="onSubmitEnroll()"
          class="php-email-form"
          id="scrolled_form"
          [ngClass]="directionService.getDirection()"
        >
          <h3> {{'construction.apply.title' |translate}}</h3>
          <div class="row gy-3">
            <div class="col-md-12">
              <input
                type="text"
                name="name"
                id="name"
                class="form-control"
               formControlName="name"
                placeholder=" {{'construction.apply.t1' |translate}}"
                required
              />
            </div>

            <div class="col-md-12">
              <input
                type="email"
                class="form-control"
                name="email"
                id="email"
                formControlName="email"
                placeholder="{{'construction.apply.t2' |translate}}"
                required
              />
            </div>

            <div class="col-md-12">
              <input
                type="text"
                class="form-control"
                name="phoneNumber"
                id="phoneNumber"
                formControlName="phoneNumber"
                placeholder="{{'construction.apply.t3' |translate}}"
                required
              />
            </div>

            <div class="col-md-12">
              <input
                type="text"
                name="qualification"
                id="qualification"
                class="form-control"
                formControlName="qualification"
                placeholder=" {{'construction.apply.f4' |translate}}"
                required
              />
            </div>

            <div class="col-md-12">
              <input
                type="text"
                name="currentJob"
                id="currentJob"
                class="form-control"
                formControlName="currentJob"
                placeholder="{{'construction.apply.f5' |translate}}"
                required
              />
            </div>

            <div class="col-md-12">
              <input
                type="text"
                name="country"
                id="country"
                class="form-control"
                formControlName="country"
                placeholder=" {{'construction.apply.f6' |translate}}"
                required
              />
            </div>

            <div class="col-md-12">
              <input
                type="text"
                name="city"
                id="city"
                class="form-control"
                formControlName="city"
                placeholder=" {{'construction.apply.f7' |translate}}"
                required
              />
            </div>

            <div class="col-md-12">
              <input type="text" name="postalCode"
              class="form-control" id="postalCode" formControlName="postalCode"
              placeholder=" {{'construction.apply.f8' |translate}}" required />
            </div>

            <div class="col-md-12">
              <select
                class="form-select"
                aria-label="Default select example"
                formControlName="volunteeringWorkHaveInterestIn"
                name="volunteeringWorkHaveInterestIn"
                id="volunteeringWorkHaveInterestIn"
              >
                <option selected disabled> {{'construction.apply.f9' |translate}}</option>
                <option value="هل هناك افضلية لعمل معين">
                  {{'construction.apply.f10' |translate}}
                </option>
                <option value="العمل مع منتفع واحد"> {{'construction.apply.f11' |translate}}</option>
                <option value="لا توجد افضلية"> {{'construction.apply.f12' |translate}}</option>
                <option value="تقديم الخدمةالي عدة منتفعين">
                  {{'construction.apply.f13' |translate}}
                </option>
                <option value="العمل مباشرة مع احد الموظفين كمساعد">
                  {{'construction.apply.f14' |translate}}
                </option>
                <option value="التخاطب الجماهيري">  {{'construction.apply.f15' |translate}}</option>
                <option value="المساعدات في الواجبات الادارية العامة">
                  {{'construction.apply.f16' |translate}}
                </option>
                <option value="تحرير صحيفة او نشرة"> {{'construction.apply.f17' |translate}} </option>
                <option value="غيرها"> {{'construction.apply.f18' |translate}}</option>
              </select>
            </div>

            <div class="col-md-12">
              <select
                class="form-select"
                aria-label="Default select example"
                id="someOneBenefitToWorkWith"
               formControlName="someOneBenefitToWorkWith"
                name="someOneBenefitToWorkWith"
              >
                <option selected disabled>
                  {{'construction.apply.f19' |translate}}
                </option>
                <option value="البالغين"> {{'construction.apply.f20' |translate}}</option>
                <option value="كبار السن">  {{'construction.apply.f21' |translate}}</option>
                <option value="اليافعين"> {{'construction.apply.f22' |translate}}</option>
                <option value="الاطفال"> {{'construction.apply.f23' |translate}}</option>
                <option value="المعوقين"> {{'construction.apply.f24' |translate}}</option>
                <option value="الذكور"> {{'construction.apply.f25' |translate}}</option>
                <option value="الاناث"> {{'construction.apply.f26' |translate}}</option>
                <option value="لا مفاضلة"> {{'construction.apply.f27' |translate}} </option>
                <option value="غيرهم"> {{'construction.apply.f28' |translate}}</option>
                <option value="لا ارغب في العمل مع المنتفعين">
                  {{'construction.apply.f29' |translate}}
                </option>
              </select>
            </div>

            <div class="col-md-12">
              <select
                class="form-select"
                aria-label="Default select example"
                id="groupYouNotBoredof"
                formControlName="groupYouNotBoredof"
                name="groupYouNotBoredof"
              >
                <option selected disabled>
                  {{'construction.apply.k1' |translate}}
                </option>
                <option value="لا">{{'construction.apply.k2' |translate}}</option>
                <option value="نعم">{{'construction.apply.k3' |translate}}</option>
              </select>
            </div>

            <div class="col-md-12">
              <select
                class="form-select"
                aria-label="Default select example"
                formControlName="volunteeringTime"
                id="volunteeringTime"
                name="volunteeringTime"
              >
                <option selected disabled>
                  {{'construction.apply.k4' |translate}}
                </option>
                <option value="مرن">{{'construction.apply.k5' |translate}}</option>
                <option value="افضل ايام الاسبوع">{{'construction.apply.k6' |translate}}</option>
                <option value="افضل العطل الاسبوعية">
                  {{'construction.apply.k7' |translate}}
                </option>
                <option value="افضل العمل النهاري">{{'construction.apply.k8' |translate}}</option>
                <option value="افضل العمل المسائي">{{'construction.apply.k9' |translate}}</option>
                <option value="غيرها">{{'construction.apply.k10' |translate}}</option>
                <option value="هناك اوقات لا استطيع العمل بها خلال الاسبوع">
                  {{'construction.apply.k11' |translate}}
                </option>
              </select>
            </div>

            <div class="col-md-12">
              <select
                class="form-select"
                aria-label="Default select example"
                formControlName="geographicalAdvantageInVolunteerWork"
                name="geographicalAdvantageInVolunteerWork"
                id="geographicalAdvantageInVolunteerWork"
              >
                <option selected disabled>
                  {{'construction.apply.k12' |translate}}
                </option>
                <option value="no">{{'construction.apply.k2' |translate}}</option>
                <option value="yes">{{'construction.apply.k3' |translate}}</option>
                <option value="maybe">{{'construction.apply.k13' |translate}}</option>
              </select>
            </div>

            <div class="col-md-12">
              <select
                class="form-select"
                aria-label="Default select example"
                formControlName="haveCarForVolunteering"
                name="haveCarForVolunteering"
                id="haveCarForVolunteering"
              >
                <option selected disabled>
                  {{'construction.apply.k14' |translate}}
                </option>
                <option value="لا">{{'construction.apply.k2' |translate}}</option>
                <option value="نعم">{{'construction.apply.k3' |translate}}</option>
                <option value="احيانا">{{'construction.apply.k13' |translate}}</option>
              </select>
            </div>

            <div class="col-md-12">
              <select
                class="form-select"
                aria-label="Default select example"
                formControlName="knowAboutUs"
                name="knowAboutUs"
                id="knowAboutUs"
              >
                <option selected disabled>
                  {{'construction.apply.k14' |translate}}
                </option>
                <option value="توصية صديق"> {{'construction.apply.k15' |translate}}</option>
                <option value="مكتوب تطوعي"> {{'construction.apply.k16' |translate}}</option>
                <option value="احد المتطوعين"> {{'construction.apply.k17' |translate}}</option>
                <option value="اعلانات">{{'construction.apply.k18' |translate}}</option>
                <option value="احد المستفيدين من الجمعية">
                  {{'construction.apply.k19' |translate}}
                </option>
                <option value="غيرها">{{'construction.apply.k10' |translate}}</option>
              </select>
            </div>

            <h3>{{'construction.apply.k21' |translate}}</h3>

            <div class="col-md-6">
              <input
                type="text"
                name="person1"
                id="person1"
                class="form-control"
               formControlName="presonF"
                placeholder="{{'construction.apply.k22' |translate}}"
                required
              />
            </div>

            <div class="col-md-6">
              <input
                type="text"
                name="person2"
                id="person2"
                class="form-control"
                formControlName="presonS"
                placeholder="{{'construction.apply.k22' |translate}}"
                required
              />
            </div>

            <div class="col-md-12 text-center">
              

              <button type="submit">{{'construction.apply.k23' |translate}}</button>
            </div>
          </div>
        </form>
      </div>

      <div class="col-lg-5" data-aos="fade">
        <div class="content">
          <img src="assets/img/apply.webp" class="img-fluid my-img" alt="" />
        </div>
      </div>
      <!-- End Quote Form -->
    </div>
  </div>
</section>
<!-- End Get Started Section -->
