<section id="vision" class="vision section">

    <div class="container section-title" data-aos="fade-up">
      <span class="my-shadow">{{'Albenaa company.page1.title' | translate}}<br></span>
      <h2 class="">{{'Albenaa company.page1.title' | translate}}<br></h2>
    </div>

    <div class="container">

      <div class="row gy-4">


        <div class=" order-2 order-lg-1 content" data-aos="fade-up" data-aos-delay="200">
          <h3>{{'Albenaa company.page1.description' | translate}} </h3>

                <h3>{{'Albenaa company.page1.General Contracting' | translate}}</h3>
          <ul>
            <li><i class="bi bi-building-fill"></i> <span>{{'Albenaa company.page1.p1' | translate}}</span></li>
            <li><i class="bi bi-building-fill"></i> <span>{{'Albenaa company.page1.p2' | translate}}</span></li>
            <li><i class="bi bi-building-fill"></i> <span>{{'Albenaa company.page1.p3' | translate}}</span></li>
            <li><i class="bi bi-building-fill"></i> <span>{{'Albenaa company.page1.p4' | translate}}</span></li>
            <li ><i class="bi bi-building-fill"></i> <span>{{'Albenaa company.page1.p5' | translate}}</span></li>
            <li ><i class="bi bi-building-fill"></i> <span>{{'Albenaa company.page1.p6' | translate}}</span></li>
            <li ><i class="bi bi-building-fill"></i> <span>{{'Albenaa company.page1.p7' | translate}}</span></li>
            <li ><i class="bi bi-building-fill"></i> <span>{{'Albenaa company.page1.p8' | translate}}</span></li>
            <li ><i class="bi bi-building-fill"></i> <span>{{'Albenaa company.page1.p9' | translate}}</span></li>
            <li ><i class="bi bi-building-fill"></i> <span>{{'Albenaa company.page1.p10' | translate}}</span></li>
            <li ><i class="bi bi-building-fill"></i> <span>{{'Albenaa company.page1.p11' | translate}}</span></li>

          </ul>
          
        </div>

      </div>

    </div>

    <!-- our company -->

    <div class="container">

        <div class="container section-title" data-aos="fade-up">
            <!-- <span class="my-shadow">شـركـائنا<br></span> -->
            <h2 class="">{{'Albenaa company.page1.Our partners' | translate}}<br></h2>
          </div>
        <div class="row gy-4">
    
            <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
              <img src="assets/img/about.jpg" class="img-fluid" alt="">
            </div>
    
            <div class="col-lg-6 order-2 order-lg-1 content" data-aos="fade-up" data-aos-delay="200">
              <h3 class="text-decoration-underline">{{'Albenaa company.page1.title1' | translate}}</h3>
           
              <ul>
                <li><i class="bi bi-building-fill"></i> <span class="text-decoration-underline">{{'Albenaa company.page1.subtitle1.title' | translate}}</span>
                
                    <ul>
                        <li><i class="bi bi-check-circle"></i> <span>{{'Albenaa company.page1.subtitle1.p1' | translate}}</span></li>
                        <li><i class="bi bi-check-circle"></i> <span>{{'Albenaa company.page1.subtitle1.p2' | translate}}</span></li>
                        <li><i class="bi bi-check-circle"></i> <span>{{'Albenaa company.page1.subtitle1.p3' | translate}}</span></li>
                    </ul>
                </li>
                
                <li><i class="bi bi-building-fill"></i> <span class="text-decoration-underline">{{'Albenaa company.page1.subtitle2.title' | translate}}</span>
                
                    <ul>
                        <li><i class="bi bi-check-circle"></i> <span>{{'Albenaa company.page1.subtitle2.p1' | translate}}</span></li>
                        <li><i class="bi bi-check-circle"></i> <span>{{'Albenaa company.page1.subtitle2.p2' | translate}}</span></li>
                        <li><i class="bi bi-check-circle"></i> <span>{{'Albenaa company.page1.subtitle2.p3' | translate}}</span></li>
                        <li><i class="bi bi-check-circle"></i> <span>{{'Albenaa company.page1.subtitle2.p' | translate}}</span></li>
                    </ul>
                </li>
                
                <li><i class="bi bi-building-fill"></i> <span class="text-decoration-underline">{{'Albenaa company.page1.subtitle3.title' | translate}}</span>
                
                    <ul>
                        <li><i class="bi bi-check-circle"></i> <span>{{'Albenaa company.page1.subtitle3.p1' | translate}}</span></li>
                        <li><i class="bi bi-check-circle"></i> <span>{{'Albenaa company.page1.subtitle3.p2' | translate}}</span></li>
                        <li><i class="bi bi-check-circle"></i> <span>{{'Albenaa company.page1.subtitle3.p3' | translate}}</span></li>
                        <li><i class="bi bi-check-circle"></i> <span>{{'Albenaa company.page1.subtitle3.p4' | translate}}</span></li>
                    </ul>
                </li>
                
                <li><i class="bi bi-building-fill"></i> <span class="text-decoration-underline">{{'Albenaa company.page1.subtitle4.title' | translate}}</span>
                <ul>
                    <li><i class="bi bi-check-circle"></i> <span>{{'Albenaa company.page1.subtitle4.p1' | translate}}</span></li>

                </ul></li>
                <li><i class="bi bi-building-fill"></i> <span class="text-decoration-underline">{{'Albenaa company.page1.subtitle5.title' | translate}}</span>
                <ul>
                    <li><i class="bi bi-check-circle"></i> <span>{{'Albenaa company.page1.subtitle5.p1' | translate}}</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>{{'Albenaa company.page1.subtitle5.p2' | translate}}</span></li>
                
                </ul></li>
              
    
                
    
    
              </ul>

              <h3 class="text-decoration-underline" >{{'Albenaa company.page1.subtitle6.title' | translate}}</h3>
              <ul>
                <li><i class="bi bi-bookmark-fill"></i> <span>{{'Albenaa company.page1.subtitle6.p1' | translate}}</span></li>
                <li><i class="bi bi-bookmark-fill"></i> <span>{{'Albenaa company.page1.subtitle6.p2' | translate}}</span></li>
                <li><i class="bi bi-bookmark-fill"></i> <span>{{'Albenaa company.page1.subtitle6.p3' | translate}}</span></li>
                <li><i class="bi bi-bookmark-fill"></i> <span>{{'Albenaa company.page1.subtitle6.p4' | translate}}</span></li>
                <li><i class="bi bi-bookmark-fill"></i> <span>{{'Albenaa company.page1.subtitle6.p5' | translate}}</span></li>
                <li><i class="bi bi-bookmark-fill"></i> <span>{{'Albenaa company.page1.subtitle6.p6' | translate}}</span></li>

            </ul>

            <h3 class="text-decoration-underline" >{{'Albenaa company.page1.subtitle7.title' | translate}}</h3>
            <ul>
              <li><i class="bi bi-bookmark-fill"></i> <span>{{'Albenaa company.page1.subtitle7.p1' | translate}}</span></li>
              <li><i class="bi bi-bookmark-fill"></i> <span>{{'Albenaa company.page1.subtitle7.p2' | translate}}</span></li>
              <li><i class="bi bi-bookmark-fill"></i> <span>{{'Albenaa company.page1.subtitle7.p3' | translate}}</span></li>
              <li><i class="bi bi-bookmark-fill"></i> <span>{{'Albenaa company.page1.subtitle7.p4' | translate}}</span></li>
              <li><i class="bi bi-bookmark-fill"></i> <span>{{'Albenaa company.page1.subtitle7.p5' | translate}}</span></li>
              <li><i class="bi bi-bookmark-fill"></i> <span>{{'Albenaa company.page1.subtitle7.p6' | translate}}</span></li>
              <li><i class="bi bi-bookmark-fill"></i> <span>{{'Albenaa company.page1.subtitle7.p7' | translate}}</span></li>
              <li><i class="bi bi-bookmark-fill"></i> <span>{{'Albenaa company.page1.subtitle7.p8' | translate}}</span></li>
              <li><i class="bi bi-bookmark-fill"></i> <span>{{'Albenaa company.page1.subtitle7.p9' | translate}}</span></li>


          </ul>

          <!-- <div class="row">
            <div class="col-md-6 icon-box">
              <i class="bi bi-box-fill"></i>
              <h4>Corporis voluptates sit</h4>
              <p>Consequuntur sunt aut quasi enim aliquam quae harum pariatur </p>
            </div>
        </div> -->

        

        
            </div>
    
          </div>

          <div class="col-md-6 col-sm-6 col-xs-12">
            <article class="recent-post-item">
              <div class="bi bi-buildings">
              </div>
              <div class="recent-post-info">
                <div class="recent-post-title-time text-decoration-underline">
                  <h4><a routerLink="/additions" fragment="mkalat">{{'Albenaa company.page1.subtitle8' | translate}}
                </a>
              </h4>
                </div>
  
              </div>
            </article>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12">
            <article class="recent-post-item">
              <div class="bi bi-buildings">
              </div>
              <div class="recent-post-info">
                <div class="recent-post-title-time text-decoration-underline">
                  <h4><a routerLink="/additions" fragment="tasmem">{{'Albenaa company.page1.subtitle9' | translate}}
                </a></h4>
                </div>
  
              </div>
            </article>
        </div>
    </div>
    

  </section>
