<form class="d-flex container2" role="search" (submit)="searchByNationalId(); $event.preventDefault()">
  <input
    [(ngModel)]="serialNumber"
    name="nationalId"
    class="form-control ms-3"
    type="search"
    placeholder="قم بكتابة الرقم التسلسلي الخاص بك"
    aria-label="Search"
  />
  <button class="btn btn-outline-success" type="submit">بحث</button>
</form>

<!-- If certificates are found, display them -->
<div class="container" *ngFor="let item of filteredCertificates">
  <div
    class="logo"
    [ngStyle]="{
      'background-image':
        'url(' + (item.studentImgUrl || 'https://res.cloudinary.com/saify/image/upload/v1539009756/icon.jpg') + ')'
    }"
  ></div>
  <h1>{{ item.name }}</h1>
  <h3>{{ item.category }} / التقدير: {{ item.rate }}</h3>
  <h6>{{ item.startDate | date: 'yyyy-MM-dd' }} : {{ item.endDate | date: 'yyyy-MM-dd' }}</h6>
  <div class="bio">
    <img [src]="item.certificateUrl" width="200px" height="150px" />
  </div>
  <small> الرقم التسلسلي: {{ item.serialNumber }}</small>
  <span class="social">
    <div class="download-certificate">
      <p>تحميل الشهادة</p>
      <i class="bi bi-download" (click)="downloadCertificate(item.certificateUrl)" download></i>
    </div>
  </span>
</div>

<!-- Show message if no certificates are found -->
<h2 *ngIf="filteredCertificates.length === 0 && serialNumber">
  لا توجد شهادات لهذا الرقم القومي . بالرجاء التاكد من الرقم المدخل
</h2><br> <br>
