<section id="about" class="about section">

    <div class="container section-title" data-aos="fade-up">
      <span class="my-shadow"> {{'aboutCourses.course15' |translate}} <br></span>
      <h2 class=""> {{'aboutCourses.course15' |translate}} <br></h2>
      <p>{{'ICDL.title' |translate}}
        </p>

    </div>

    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
          <img src="assets/img/about.jpg" class="img-fluid" alt="">
        </div>

        <div class="col-lg-6 order-2 order-lg-1 content" data-aos="fade-up" data-aos-delay="200">
       
          <ul>
           


           <li><i class="bi bi-check-circle"></i> <span> {{'ICDL.title1' |translate}}</span></li>       
           <li><i class="bi bi-check-circle"></i> <span> {{'ICDL.title2' |translate}}  </span></li>
           <li><i class="bi bi-check-circle"></i> <span> {{'ICDL.title3' |translate}}</span></li>
           <li><i class="bi bi-check-circle"></i> <span> {{'ICDL.title4' |translate}}</span></li>
           <li><i class="bi bi-check-circle"></i> <span> {{'ICDL.title5' |translate}} </span></li>
           <li><i class="bi bi-check-circle"></i> <span> {{'ICDL.title6' |translate}}</span></li>
           <li><i class="bi bi-check-circle"></i> <span> {{'ICDL.title7' |translate}} </span></li><br>

           <h6>{{'ICDL.subtitle' |translate}}
           </h6><br><br>

           <h6>{{'ICDL.subtitle2' |translate}}
            </h6><br><br>

            <h5>{{'ICDL.subtitle3' |translate}}</h5>
<h5>{{'ICDL.subtitle4' |translate}}</h5>
   
          </ul>


       
        </div>

      </div>

    </div>

  </section><!-- /About Section -->