<section id="about" class="about section">
  <div class="container section-title" data-aos="fade-up">
    <span class="my-shadow"> {{'aboutCourses.course5' |translate}} <br /></span>
    <h2 class="">{{'aboutCourses.course5' |translate}}<br /></h2>
    <p>
      {{'gis.title' |translate}}
    </p>
    <p>
      {{'gis.title2' |translate}}
    </p>
  </div>

  <div class="container">
    <div class="row gy-4">
      <div
        class="col-lg-6 order-1 order-lg-2"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        <img src="assets/img/about.jpg" class="img-fluid" alt="" />
      </div>

      <div
        class="col-lg-6 order-2 order-lg-1 content"
        data-aos="fade-up"
        data-aos-delay="200"
        [ngClass]="directionService.getDirection()"
      >
        <ul>
          <h6> {{'gis.h1' |translate}} :</h6>
          <p>{{'gis.h2' |translate}}:</p>

          <li>
            <i class="bi bi-check-circle"></i>
            <span>{{'gis.p1' | translate}}</span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span>{{'gis.p2' | translate}}</span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span>{{'gis.p3' | translate}}</span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span>{{'gis.p4' | translate}}</span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span>{{'gis.p5' | translate}}</span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span>{{'gis.p6' | translate}}</span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span>{{'gis.p7' | translate}}</span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span>{{'gis.p8' | translate}}</span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span>{{'gis.p9' | translate}}</span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span>{{'gis.p10' | translate}}</span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span>{{'gis.p11' | translate}}</span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span>{{'gis.p12' | translate}}</span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span>{{'gis.p13' | translate}}</span>
          </li>

          <p> {{'gis.h3' | translate}} :</p>

          <li>
            <i class="bi bi-check-circle"></i>
            <span>{{'gis.f1' | translate}}</span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span>{{'gis.f2' | translate}}</span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span>{{'gis.f3' | translate}}</span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span>{{'gis.f4' | translate}}</span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span>{{'gis.f5' | translate}}</span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span>{{'gis.f6' | translate}}</span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span>{{'gis.f7' | translate}}</span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span>{{'gis.f8' | translate}}</span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span>{{'gis.f9' | translate}}</span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span>{{'gis.f10' | translate}}</span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span>{{'gis.f11' | translate}}</span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span>{{'gis.f12' | translate}}</span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span>{{'gis.f13' | translate}}</span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span>{{'gis.f14' | translate}}</span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span>{{'gis.f15' | translate}}</span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span>{{'gis.f16' | translate}}</span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span>{{'gis.f17' | translate}}</span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span>{{'gis.f18' | translate}}</span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span>{{'gis.f19' | translate}}</span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span>{{'gis.f20' | translate}}</span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span>{{'gis.f21' | translate}}</span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span>{{'gis.f22' | translate}}</span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span>{{'gis.f23' | translate}}</span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span>{{'gis.f24' | translate}}</span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span>{{'gis.f25' | translate}}</span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span>{{'gis.f26' | translate}}</span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span>{{'gis.f27' | translate}}</span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span>{{'gis.f28' | translate}}</span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span>{{'gis.f29' | translate}}</span>
          </li>

          <p>{{'gis.h4' | translate}}:</p>

          <li>
            <i class="bi bi-check-circle"></i>
            <span>{{'gis.k1' | translate}}</span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span>{{'gis.k2' | translate}}</span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span>{{'gis.k3' | translate}}</span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span>{{'gis.k4' | translate}}</span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span>{{'gis.k5' | translate}}</span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span>{{'gis.k6' | translate}}</span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span>{{'gis.k7' | translate}}</span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span>{{'gis.k8' | translate}}</span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span>{{'gis.k9' | translate}}</span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span>{{'gis.k10' | translate}}</span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span>{{'gis.k11' | translate}}</span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span>{{'gis.k12' | translate}}</span>
          </li>
          <li>
            <i class="bi bi-check-circle"></i>
            <span>{{'gis.k13' | translate}}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- /About Section -->
