<section id="services" class="services section">


    <div class="container section-title" data-aos="fade-up">
      <span class="my-shadow">{{'Professional Training.title' | translate}}</span>
      <h2>{{'Professional Training.title' | translate}}</h2>
      <p>
        {{'Professional Training.description' | translate}}
      </div>

    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-4 col-md-6 my-box" data-aos="fade-up" data-aos-delay="100">
          <div class="service-item  position-relative inside-box">
            <div class="icon">
              <i class="bi bi-speaker"></i>
            </div>
            <a href="journalist" class="stretched-link">
              <h3>{{'Professional Training.Training Information.title1' | translate}}</h3>
            </a>
            <!-- <p>استقبال وتلقي بيانات العملاء.</p> -->
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
          <div class="service-item position-relative inside-box">
            <div class="icon">
              <i class="bi bi-building"></i>
            </div>
            <a href="toursim" class="stretched-link">
              <h3>{{'Professional Training.title2' | translate}}</h3>
            </a>
            <!-- <p>مدرس مساعد لاعطاء محاضرات.</p> -->
          </div>
        </div>


        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative inside-box">
              <div class="icon">
                <i class="bi bi-map"></i>
              </div>
              <a href="map" class="stretched-link">
                <h3> {{'Professional Training.title3' | translate}}</h3>
              </a>
              <!-- <p>مدرس مساعد لاعطاء محاضرات.</p> -->
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative inside-box">
              <div class="icon">
                <i class="bi bi-laptop"></i>
              </div>
              <a href="computer" class="stretched-link">
                <h3> {{'Professional Training.title4' | translate}}</h3>
              </a>
              <!-- <p>مدرس مساعد لاعطاء محاضرات.</p> -->
            </div>
          </div>


          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative inside-box">
              <div class="icon">
                <i class="bi bi-translate"></i>
              </div>
              <a href="language" class="stretched-link">
                <h3>{{'Professional Training.title5' | translate}}</h3>
              </a>
              <!-- <p>مدرس مساعد لاعطاء محاضرات.</p> -->
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative inside-box">
              <div class="icon">
                <i class="bi bi-bag"></i>
              </div>
              <a href="manage" class="stretched-link">
                <h3>{{'Professional Training.title6' | translate}}</h3>
              </a>
              <!-- <p>مدرس مساعد لاعطاء محاضرات.</p> -->
            </div>
          </div>
        

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative inside-box">
              <div class="icon">
                <i class="bi bi-hospital"></i>
              </div>
              <a href="nursing" class="stretched-link">
                <h3> {{'Professional Training.mainTitlePart1' | translate}}</h3>
                <h3>{{'Professional Training.mainTitlePart2' | translate}}</h3>
              </a>
              <!-- <p>مدرس مساعد لاعطاء محاضرات.</p> -->
            </div>
          </div>
        

  
      </div>

    </div>

  </section>