<section id="get-started" class="get-started section-bg">
    <div class="container">
      <div class="row justify-content-between gy-4">
        <div class="col-lg-6 d-flex align-items-center" data-aos="fade-up">
          <form
          [formGroup]="myMembershipApplicantForm"
          (ngSubmit)="onSubmitMembershipApplicant()"
            class="php-email-form"
            id="scrolled_form"
            [ngClass]="directionService.getDirection()"
          >
            <h3> {{'membership.title' |translate}}</h3>
            <div class="row gy-3">
              <div class="col-md-12">
                <input
                  type="text"
                  name="name"
                  class="form-control"
                  placeholder="{{'membership.f1' |translate}}"
                  formControlName="fullNameInArabic"

                  required
                />
              </div>

              <div class="col-md-12">
                <input
                  type="text"
                  name="name"
                  class="form-control"
                  placeholder="{{'membership.f2' |translate}}"
                  formControlName="fullNameInEnglish"

                  required
                />
              </div>

              <div class="col-md-12">
                <input
                  type="text"
                  name="name"
                  class="form-control"
                  placeholder="{{'membership.f3' |translate}}"
                  formControlName="nationalNumber"

                  required
                />
              </div>
  
              <div class="col-md-12">
                <input
                  type="email"
                  class="form-control"
                  name="email"
                  placeholder="{{'membership.f4' |translate}}"
                  formControlName="email"

                  required
                />
              </div>
  
              <div class="col-md-12">
                <input
                  type="text"
                  class="form-control"
                  name="phone"
                  placeholder="{{'membership.f5' |translate}}"
                  formControlName="phone"

                  required
                />
              </div>

              <div class="col-md-12">
                <input
                  type="text"
                  class="form-control"
                  name="city"
                  placeholder=" {{'membership.f6' |translate}}"
                  formControlName="city"

                  required
                />
              </div>

              <div class="col-md-12">
                <input
                  type="text"
                  class="form-control"
                  name="address"
                  placeholder=" {{'membership.f7' |translate}}"
                  formControlName="address"

                  required
                />
              </div>

              <h6>{{'membership.subtitle1' |translate}}:</h6>
              <div class="form-check mt-1">
                <input class="ms-2"  type="radio" name="gender" id="femaleRadio" formControlName="gender" value="female">
                <label class="form-check-label" for="femaleRadio">{{'membership.f8' |translate}}</label>
              </div>
              <div class="form-check mt-1">
                <input class="ms-2 " type="radio" name="gender" id="maleRadio" formControlName="gender" value="male">
                <label class="form-check-label" for="maleRadio">{{'membership.f9' |translate}}</label>
              </div>

              <h6>{{'membership.subtitle2' |translate}}:</h6>
              <div class="form-check mt-1">
                <input class="ms-2 " type="radio" name="status" id="singleRadio" formControlName="status" value="single">
                <label class="form-check-label" for="singleRadio">{{'membership.f10' |translate}}</label>
              </div>
              <div class="form-check mt-1">
                <input class="ms-2 " type="radio" name="status" id="marriedRadio" formControlName="status" value="married">
                <label class="form-check-label" for="marriedRadio">{{'membership.f11' |translate}}</label>
              </div>

              
 
              <div class="col-md-12">
                <select class="form-select" aria-label="Default select example" formControlName="memberType"
                >
                  <option selected disabled>
                    {{'membership.subtitle3' |translate}} 
                  </option>
                  <option value="ماسيه">{{'membership.f12' |translate}}</option>
                  <option value="ذهبي">{{'membership.f13' |translate}}</option>
                  <option value="فضي">{{'membership.f14' |translate}}</option>
                </select>
              </div>

              <div class="col-md-12">
                <select class="form-select" aria-label="Default select example" formControlName="memberSystem">
                  <option selected disabled>
                    {{'membership.subtitle4' |translate}} 
                  </option>
                  <option value="نصف سنويه"> {{'membership.f15' |translate}}</option>
                  <option value="سنويه">{{'membership.f16' |translate}}</option>
                  <option value="سنتين">{{'membership.f17' |translate}}</option>
                  <option value="خمس سنوات"> {{'membership.f18' |translate}}</option>

                </select>
              </div>
  
  
              <div class="col-md-12">
                <select class="form-select" aria-label="Default select example" formControlName="memberCategory">
                  <option selected disabled>
                    {{'membership.subtitle5' |translate}} 
                  </option>
                  <option value="فردي">{{'membership.f19' |translate}}</option>
                  <option value="عائلي"> {{'membership.f20' |translate}}</option>
                </select>
              </div>
              

  
              <div class="col-md-12 text-center">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">
                  Your quote request has been sent successfully. Thank you!
                </div>
  
                <button type="submit"> {{'membership.submit' |translate}}</button>
              </div>
            </div>
          </form>
        </div>
  
        <div class="col-lg-5" data-aos="fade">
          <div class="content">
            <img src="assets/img/apply.webp" class="img-fluid my-img" alt="" />
          </div>
        </div>
        <!-- End Quote Form -->
      </div>
    </div>
  </section>
  <!-- End Get Started Section -->
  