
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">
  
      <h1 class="logo"><a routerLink="/home">البناء الدولية</a></h1>
  
      <!-- [ngClass]="{ 'navbar-mobile': isMobileNavOpen }" -->
        <nav id="navbar" class="navbar" [ngClass]="{ 'navbar-mobile': isMobileNavOpen }">
        <ul>
          <!-- <li><a class="nav-link scrollto active" routerLink="home">الرئيسية</a></li> -->
          <!-- <li><a class="nav-link scrollto" routerLink="applicant">طلب التحاق</a></li> -->
          
       
          <li class="dropdown"><a href="" (click)="toggleDropdown($event)"><span> {{'nav.courses' |translate }}</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a routerLink="aboutCourse">{{'aboutCourses.dropDown.first' |translate}}</a></li>
              <li><a routerLink="applyCourse">{{'aboutCourses.dropDown.sec' |translate}}</a></li>
              <li><a routerLink="enquiry">{{'aboutCourses.dropDown.third' |translate}}</a></li>
              <li><a routerLink="problemsCourse">{{'aboutCourses.dropDown.fourth' |translate}}</a></li>
            </ul>
          </li>

             
          <li class="dropdown"><a href="" (click)="toggleDropdown($event)"><span> {{'Professional Training.title' | translate}}</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a routerLink="longTerm"> معلومات التدريبات</a></li>
              <li><a routerLink="applicant"> طلب التحاق بتدريب</a></li>
              <li><a routerLink="problemIntern"> شكاوي و مقترحات</a></li>
              <li><a routerLink="result"> النتيجه</a></li>

            </ul>
          </li>


          <li class="dropdown"><a href="" (click)="toggleDropdown($event)"><span>{{'Albenaa company.albenaa' | translate}}</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a routerLink="building-institute">{{'Albenaa company.albenaa' | translate}}</a></li>
              <li><a routerLink="vision">الرؤية</a></li>
              <li><a routerLink="certificates">الشهادات</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="" (click)="toggleDropdown($event)"><span> {{'nav.fondation' |translate}}</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a routerLink="ConstFoundation"> {{'nav.activite' |translate}}</a></li>
              <li><a routerLink="enroll"> {{'construction.apply.title' |translate}}</a></li>
            </ul>
          </li>
          

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" (click)="toggleDropdown($event)">
              {{'nav.more' |translate}} 
              <i class="bi bi-chevron-down"></i>
            </a>
            <ul class="dropdown-menu" [class.show]="isDropdownOpen">
              
              <!-- الإعلامي Dropdown -->
              <li class="dropdown">
                <a href="#" (click)="toggleSubDropdown($event, 'media')">
                  <span> {{'nav.center' |translate}}</span> <i class="bi bi-chevron-down"></i>
                </a>
                <ul class="dropdown-menu" [class.show]="subDropdowns['media']">
                  <li><a class="dropdown-item" routerLink="news">{{'nav.news' |translate}}</a></li>
                  <li><a class="dropdown-item" routerLink="magazine">{{'nav.magazine' |translate}}</a></li>
                </ul>
              </li>
  
              <!-- Membership Dropdown -->
              <li class="dropdown">
                <a href="#" (click)="toggleSubDropdown($event, 'membership')">
                  <span>{{ 'aboutMembership.dropdown.title' | translate }}</span> 
                  <i class="bi bi-chevron-down"></i>
                </a>
                <ul class="dropdown-menu" [class.show]="subDropdowns['membership']">
                  <li><a class="dropdown-item" routerLink="membershipApply">{{ 'aboutMembership.dropdown.f1' | translate }}</a></li>
                  <li><a class="dropdown-item" routerLink="guideMem">{{ 'aboutMembership.dropdown.f2' | translate }}</a></li>
                </ul>
              </li>
  
              <li><a class="dropdown-item" routerLink="jobs">{{'nav.jobs' |translate}}</a></li>
              <li><a class="dropdown-item" routerLink="contact">{{ 'nav.contact' | translate }}</a></li>
  
            </ul>
          </li>
         
          <!-- <li class="dropdown"><a href="" (click)="toggleDropdown($event)"><span>المركز الأعلامي</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a class="dropdown-item" routerLink="news">الاخبار</a></li>
              <li><a class="dropdown-item" routerLink="magazine">المجله</a></li>
            </ul>
          </li>

          <li class="dropdown"><a href="" (click)="toggleDropdown($event)"><span> {{'aboutMembership.dropdown.title' |translate}}</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a class="dropdown-item" routerLink="membershipApply"> {{'aboutMembership.dropdown.f1' |translate}}</a></li>
              <li><a class="dropdown-item" routerLink="guideMem"> {{'aboutMembership.dropdown.f2' |translate}}</a></li>
            </ul>
          </li>
          <li><a routerLink="jobs">وظائف</a></li>
          
          <li><a class="nav-link scrollto" routerLink="contact"> {{'nav.contact' |translate}}</a></li> -->

          

          <div *ngIf="isLoggedIn(); then loggedInTemplate else loggedOutTemplate"></div>
          <ng-template #loggedInTemplate >
            <div class="navbar-nav py-0" (click)="logout()">
              <li><a class="getstarted scrollto" routerLink="registration" >{{'nav.log' | translate}}</a></li>

             
          </div>
          <div *ngIf="isAdmin()" class="navbar-nav py-0" >
            <li><a class="getstarted scrollto" routerLink="controll" >{{'nav.dash' | translate}}</a></li>

           
        </div>
          </ng-template>
          <ng-template #loggedOutTemplate >
            <li><a class="getstarted scrollto" routerLink="login">{{'nav.login' | translate}}</a></li>

          </ng-template>

          <ul class="nav-menu ">
            <li class="nav-item">
              <div class="dropdown">
                <button class="dropbtn">
                  <i class="fa fa-globe"></i>
                </button>

                <div class="dropdown-content">
                  <a  (click)="changeLanguage('ar')">
                     العربية</a>
                  <a  (click)="changeLanguage('en')">
                     English</a>
                 
                </div>
             
              </div>
            </li>
          </ul>

          

        
          <!-- <li><a class="getstarted scrollto" routerLink="registration">تـسجيل الـدخول</a></li> -->
        </ul>
        <i class="bi bi-list mobile-nav-toggle" (click)="toggleMobileNav()"></i>
      </nav>
  
    </div>
  </header>
  