<section id="about" class="about section">

    <div class="container section-title" data-aos="fade-up">
      <span class="my-shadow">{{'aboutCourses.course13' |translate}} <br></span>
      <h2 class=""> {{'aboutCourses.course13' |translate}}  <br></h2>
    </div>

    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
          <img src="assets/img/about.jpg" class="img-fluid" alt="">
        </div>

        <div class="col-lg-6 order-2 order-lg-1 content" data-aos="fade-up" data-aos-delay="200">
       
          <ul>
           
            <h5>{{'html.subtitle' |translate}} :</h5>


            <li><i class="bi bi-check-circle"></i> <span>{{'html.p1' |translate}} </span></li>
            <li><i class="bi bi-check-circle"></i> <span> {{'html.p2' |translate}}</span></li>
            <li><i class="bi bi-check-circle"></i> <span>{{'html.p3' |translate}} </span></li>
            <li><i class="bi bi-check-circle"></i> <span> {{'html.p4' |translate}}</span></li>
            <li><i class="bi bi-check-circle"></i> <span> {{'html.p5' |translate}}</span></li>
            <li><i class="bi bi-check-circle"></i> <span> {{'html.p6' |translate}}</span></li>
            <li><i class="bi bi-check-circle"></i> <span> {{'html.p7' |translate}} </span></li>
            <li><i class="bi bi-check-circle"></i> <span> {{'html.p8' |translate}} </span></li><br>
           
            <h6>{{'html.p9' |translate}}</h6><br><br>

            <h6>{{'html.p10' |translate}}</h6><br><br>

            <h6>{{'html.p11' |translate}}</h6><br><br>


            <h6>
              {{'html.p12' |translate}}                </h6>




    
   
          </ul>


       
        </div>

      </div>

    </div>

  </section><!-- /About Section -->