<section id="about" class="about section">

    <div class="container section-title" data-aos="fade-up">
      <span class="my-shadow">{{'aboutCourses.course3' |translate}}<br></span>
      <h2 class=""> {{'aboutCourses.course3' |translate}}<br></h2>
    <p>{{'autocad.title' |translate}}
        </p>
    </div>

    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
          <img src="assets/img/about.jpg" class="img-fluid" alt="">
        </div>

        <div class="col-lg-6 order-2 order-lg-1 content" data-aos="fade-up" data-aos-delay="200">
       
          <ul>
           


           <li><i class="bi bi-check-circle"></i> <span> {{'autocad.p1' |translate}}</span></li>
           <li><i class="bi bi-check-circle"></i> <span> {{'autocad.p2' |translate}} </span></li>
           <li><i class="bi bi-check-circle"></i> <span>  {{'autocad.p3' |translate}}</span></li>
           <li><i class="bi bi-check-circle"></i> <span> {{'autocad.p4' |translate}}</span></li>


    
   
          </ul>

          <h5>  {{'autocad.p5' |translate}}</h5>

       
        </div>

      </div>

    </div>

  </section><!-- /About Section -->