<section id="about" class="about section">

    <div class="container section-title" data-aos="fade-up">
      <span class="my-shadow"> {{'construction.title' |translate}}<br></span>
      <h2 class=""> {{'construction.title' |translate}}<br></h2>
      <!-- <p>أهــداف وأنشطه المؤسسة التي أنشأت لتحقيقها</p> -->
    </div>

    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
          <img src="assets/img/about.jpg" class="img-fluid" alt="">
        </div>

        <div class="col-lg-6 order-2 order-lg-1 content" data-aos="fade-up" data-aos-delay="200">
          <h3>{{'construction.sub' |translate}}:</h3>
          <!-- <p class="fst-italic">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua.
          </p> -->
          <ul>
            <li><i class="bi bi-check-circle"></i> <span>{{ 'construction.f1' | translate }}</span></li>
            <li><i class="bi bi-check-circle"></i> <span>{{ 'construction.f2' | translate }}</span></li>
            <li><i class="bi bi-check-circle"></i> <span>{{ 'construction.f3' | translate }}</span></li>
            <li><i class="bi bi-check-circle"></i> <span>{{ 'construction.f4' | translate }}</span></li>
            <li><i class="bi bi-check-circle"></i> <span>{{ 'construction.f5' | translate }}</span></li>
            <li><i class="bi bi-check-circle"></i> <span>{{ 'construction.f6' | translate }}</span></li>
            <li><i class="bi bi-check-circle"></i> <span>{{ 'construction.f7' | translate }}</span></li>
            <li><i class="bi bi-check-circle"></i> <span>{{ 'construction.f8' | translate }}</span></li>
            <li><i class="bi bi-check-circle"></i> <span>{{ 'construction.f9' | translate }}</span></li>
            <li><i class="bi bi-check-circle"></i> <span>{{ 'construction.f10' | translate }}</span></li>
            <li><i class="bi bi-check-circle"></i> <span>{{ 'construction.f11' | translate }}</span></li>
            <li><i class="bi bi-check-circle"></i> <span>{{ 'construction.f12' | translate }}</span></li>
            <li><i class="bi bi-check-circle"></i> <span>{{ 'construction.f13' | translate }}</span></li>
            <li><i class="bi bi-check-circle"></i> <span>{{ 'construction.f14' | translate }}</span></li>
            <li><i class="bi bi-check-circle"></i> <span>{{ 'construction.f15' | translate }}</span></li>
            <li><i class="bi bi-check-circle"></i> <span>{{ 'construction.f16' | translate }}</span></li>
            <li><i class="bi bi-check-circle"></i> <span>{{ 'construction.f17' | translate }}</span></li>
            <li><i class="bi bi-check-circle"></i> <span>{{ 'construction.f18' | translate }}</span></li>
            <li><i class="bi bi-check-circle"></i> <span>{{ 'construction.f19' | translate }}</span></li>
            <li><i class="bi bi-check-circle"></i> <span>{{ 'construction.f20' | translate }}</span></li>
            <li><i class="bi bi-check-circle"></i> <span>{{ 'construction.f21' | translate }}</span></li>

            


          </ul>
        </div>

      </div>

    </div>

  </section><!-- /About Section -->