<section id="about" class="about section">

    <div class="container section-title" data-aos="fade-up">
      <span class="my-shadow"> {{'aboutCourses.course16' |translate}}<br></span>
      <h2 class=""> {{'aboutCourses.course16' |translate}}<br></h2>
      <p>{{'firstAidCourse.title' |translate}} </p>
    </div>

    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
          <img src="assets/img/about.jpg" class="img-fluid" alt="">
        </div>

        <div class="col-lg-6 order-2 order-lg-1 content" data-aos="fade-up" data-aos-delay="200" [ngClass]="directionService.getDirection()">
       
          <ul>
           

           <h5 class="mb-3"> {{'firstAidCourse.subtitle' |translate}} :</h5>

           <li ><i class="bi bi-check-circle"></i> <span > {{'firstAidCourse.title1' |translate}} </span></li>
           <li><i class="bi bi-check-circle"></i> <span>  {{'firstAidCourse.title2' |translate}}  </span></li>
           <li><i class="bi bi-check-circle"></i> <span> {{'firstAidCourse.title3' |translate}} </span></li>
           <li><i class="bi bi-check-circle"></i> <span> {{'firstAidCourse.title4' |translate}} </span></li>
           <li><i class="bi bi-check-circle"></i> <span> {{'firstAidCourse.title5' |translate}} </span></li>
           <li><i class="bi bi-check-circle"></i> <span> {{'firstAidCourse.title6' |translate}}</span></li>
           <li><i class="bi bi-check-circle"></i> <span> {{'firstAidCourse.title7' |translate}}</span></li>
           <li><i class="bi bi-check-circle"></i> <span> {{'firstAidCourse.title8' |translate}}</span></li>

           <h5 class="mb-3"> {{'firstAidCourse.subtitle2' |translate}} :</h5>


           <li><i class="bi bi-check-circle"></i> <span> {{'firstAidCourse.title9' |translate}} </span></li>
           <li><i class="bi bi-check-circle"></i> <span> {{'firstAidCourse.title10' |translate}} </span></li>
           <li><i class="bi bi-check-circle"></i> <span> {{'firstAidCourse.title11' |translate}}</span></li>
           <li><i class="bi bi-check-circle"></i> <span> {{'firstAidCourse.title12' |translate}}</span></li>
           <li><i class="bi bi-check-circle"></i> <span> {{'firstAidCourse.title13' |translate}} </span></li>


</ul>


          

       
        </div>

      </div>

    </div>

  </section><!-- /About Section -->