<section id="about" class="about section">

    <div class="container section-title" data-aos="fade-up">
      <span class="my-shadow">{{'aboutCourses.course14' |translate}}<br></span>
      <h2 class=""> {{'aboutCourses.course14' |translate}} <br></h2>
      <p>{{'scratch.title1' |translate}}</p>
      <p>{{'scratch.title2' |translate}}
        </p>
    </div>

    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
          <img src="assets/img/about.jpg" class="img-fluid" alt="">
        </div>

        <div class="col-lg-6 order-2 order-lg-1 content" data-aos="fade-up" data-aos-delay="200" [ngClass]="directionService.getDirection()">
       
          <ul>
           
            <h5>  {{'scratch.subtitle' |translate}}:</h5>


            <li><i class="bi bi-check-circle"></i> <span> {{'scratch.p1' |translate}} </span></li>
            <li><i class="bi bi-check-circle"></i> <span> {{'scratch.p2' |translate}} </span></li>
            <li><i class="bi bi-check-circle"></i> <span> {{'scratch.p3' |translate}}  </span></li>
            <li><i class="bi bi-check-circle"></i> <span> {{'scratch.p4' |translate}} </span></li>
            <li><i class="bi bi-check-circle"></i> <span> {{'scratch.p5' |translate}} </span></li>
            <li><i class="bi bi-check-circle"></i> <span> {{'scratch.p6' |translate}}  </span></li>
            <li><i class="bi bi-check-circle"></i> <span> {{'scratch.p7' |translate}} </span></li>
            <li><i class="bi bi-check-circle"></i> <span> {{'scratch.p8' |translate}}  </span></li>
            <li><i class="bi bi-check-circle"></i> <span> {{'scratch.p9' |translate}} </span></li>
         


           
        <h5>{{'scratch.subtitle2' |translate}}:</h5>

        <li><i class="bi bi-check-circle"></i> <span> {{'scratch.p10' |translate}}
             </span></li>
        <li><i class="bi bi-check-circle"></i> <span> {{'scratch.p11' |translate}}
             </span></li>
        <li><i class="bi bi-check-circle"></i> <span> {{'scratch.p12' |translate}}
             </span></li>
        <li><i class="bi bi-check-circle"></i> <span> {{'scratch.p13' |translate}}
             </span></li>

<h5>{{'scratch.p14' |translate}}</h5>
<h5>{{'scratch.p15' |translate}}</h5>

    
   
          </ul>


       
        </div>

      </div>

    </div>

  </section><!-- /About Section -->