
<section id="hero">

  <div id="carouselExampleAutoplaying" class="carousel slide hero-container" data-bs-ride="carousel">
  
    <div class="carousel-inner">

      <div class="carousel-item active">
        <img src="../../../assets/img/cover3imgcopy.jpeg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>{{'img_line1' | translate}}
          </h5>
          <h5>   {{'img_line2' | translate}}
          </h5>
          <h5>{{'img_line3' | translate}}</h5>
      </div>
      </div>
      <div class="carousel-item no-opacity">
        <img src="../../../assets/img/new.jpeg" class="d-block w-100" alt="...">
      </div>
      
      

      <div class="carousel-item ">
        <img src="../../../assets/img/new2.jpeg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>{{'img_line1' | translate}}
          </h5>
          <h5>   {{'img_line2' | translate}}
          </h5>
          <h5>{{'img_line3' | translate}}</h5>
      </div>
      </div>

      <div class="carousel-item ">
        <img src="../../../assets/img/cover4img..jpeg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>{{'img_line1' | translate}}
          </h5>
          <h5>   {{'img_line2' | translate}}
          </h5>
          <h5>{{'img_line3' | translate}}</h5>
      </div>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/img/cover2img..jpeg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block" [ngStyle]="{ 'font-size': lang == 'en' ? '20px' : '25px' }">
          <h5>{{'img_line1' | translate}}
          </h5>
          <h5>   {{'img_line2' | translate}}
          </h5>
          <h5>{{'img_line3' | translate}}</h5>
      </div>
      </div>
    
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true">
        <i class="bi bi-caret-left"></i>
      </span>
      <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true">
        <i class="bi bi-caret-right"></i>

      </span>
      <span class="visually-hidden">Next
      </span>
  </button>
  </div>
  
  </section>

<!-- <section id="services" class="services section">
  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-4 col-md-6 my-box" data-aos="fade-up" data-aos-delay="100">
        <div class="service-item position-relative inside-box">
          <div class="icon">
            <i class="bi bi-bag"></i>
          </div>
          <a href="#" class="stretched-link">
            <h2>{{'home.title1' |translate}}</h2>
          </a>
          <h6>
            {{'home.sutitle1' |translate}}
          </h6>
        </div>
      </div>

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
        <div class="service-item position-relative inside-box">
          <div class="icon">
            <i class="bi bi-bag"></i>
          </div>
          <a href="#" class="stretched-link">
            <h2>{{'home.title2' |translate}}</h2>
          </a>
          <h6>
            {{'home.sutitle2' |translate}}
          </h6>
        </div>
      </div>

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
        <div class="service-item position-relative inside-box">
          <div class="icon">
            <i class="bi bi-bag"></i>
          </div>
          <a href="#" class="stretched-link">
            <h2>{{'home.title3' |translate}}</h2>
          </a>
          <h6>
            {{'home.sutitle3' |translate}}
          </h6>
        </div>
      </div>

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
        <div class="service-item position-relative inside-box">
          <div class="icon">
            <i class="bi bi-bag"></i>
          </div>
          <a href="#" class="stretched-link">
            <h2>{{'home.title4' |translate}}</h2>
          </a>
          <h6>
            {{'home.sutitle4' |translate}}
          </h6>
        </div>
      </div>

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
        <div class="service-item position-relative inside-box">
          <div class="icon">
            <i class="bi bi-bag"></i>
          </div>
          <a href="#" class="stretched-link">
            <h2>{{'home.title5' |translate}}</h2>
          </a>
          <h6>{{'home.sutitle5' |translate}}</h6>
          <h6>{{'home.sutitle6' |translate}}</h6>
        </div>
      </div>
    </div>
  </div>
</section> -->

<section id="services" class="services section">
  <div class="container">
    <div class="row gy-4">
      
      <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
        <div class="service-item position-relative inside-box">
          <div class="icon">
            <i class="bi bi-bag"></i>
          </div>
          <a class="stretched-link">
            <h2>{{'home.title1' |translate}}</h2>
          </a>
          <h6>
            {{'home.sutitle1' |translate}}
          </h6>
        </div>
      </div>

      <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
        <div class="service-item position-relative inside-box">
          <div class="icon">
            <i class="bi bi-briefcase"></i>
          </div>
          <a  class="stretched-link">
            <h2>{{'home.title2' |translate}}</h2>
          </a>
          <h6>
            {{'home.sutitle2' |translate}}
          </h6>
        </div>
      </div>

      <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
        <div class="service-item position-relative inside-box">
          <div class="icon">
            <i class="bi bi-tools"></i>
          </div>
          <a class="stretched-link">
            <h2>{{'home.title3' |translate}}</h2>
          </a>
          <h6>
            {{'home.sutitle3' |translate}}
          </h6>
        </div>
      </div>

      <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="400">
        <div class="service-item position-relative inside-box">
          <div class="icon">
            <i class="bi bi-gear"></i>
          </div>
          <a  class="stretched-link">
            <h2>{{'home.title4' |translate}}</h2>
          </a>
          <!-- <h6>
            {{'home.sutitle4' |translate}}
          </h6> -->
          <ul>
            <li> <h6>{{'home.sutitle4_1' |translate}}</h6></li>
            <li> <h6>{{'home.sutitle4_2' |translate}}</h6></li>
            <li> <h6>{{'home.sutitle4_3' |translate}}</h6></li>
            <li> <h6>{{'home.sutitle4_4' |translate}}</h6></li>
          </ul>
        </div>
      </div>

    </div>
  </div><br><br>

  <h1 style="text-align: center;">{{'footer.p16' |translate}}</h1><br><br>

  <!-- Logos Section -->
<div class="container text-center my-3">
  <div class="logos-wrapper">
    <div class="logos">
      <img src="../../../assets/img/logo1.jpeg" alt="Logo 1" class="logo">
      <img src="../../../assets/img/logo2.jpeg" alt="Logo 2" class="logo">
      <img src="../../../assets/img/logo3.jpeg" alt="Logo 3" class="logo">
      <img src="../../../assets/img/logo4.jpeg" alt="Logo 4" class="logo">
      <!-- Duplicate logos for smooth effect -->
      <img src="../../../assets/img/logo1.jpeg" alt="Logo 1" class="logo">
      <img src="../../../assets/img/logo2.jpeg" alt="Logo 2" class="logo">
      <img src="../../../assets/img/logo3.jpeg" alt="Logo 3" class="logo">
      <img src="../../../assets/img/logo4.jpeg" alt="Logo 4" class="logo">
    </div>
  </div>
</div>


</section>
