


<section id="contact" class="contact section-bg" >

    <div class="container section-title" data-aos="fade-up">
      <span class="my-shadow">{{'Professional Training.Complaints and Suggestions.title' | translate}}</span>
      <h2 class="">{{'Professional Training.Complaints and Suggestions.title' | translate}}</h2>
      <!-- <p>شركة البناء الدولية للإستثمار و التنمية شركة مساهمة مصرية #الإستثمار_في_حب_مصر🇪🇬</p> -->
    </div>
    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="row gy-4">

        <div class="col-lg-6 my-bg" >
          <div class="info-item d-flex flex-column justify-content-center align-items-center inside-box address" data-aos="fade-up" data-aos-delay="200">
            <i class="bi bi-geo-alt"></i>
            <h3>{{'Professional Training.Complaints and Suggestions.address' | translate}}</h3>
            <p>{{'Professional Training.Complaints and Suggestions.addressDes' | translate}}</p>
          </div>
        </div><!-- End Info Item -->

        <div class="col-lg-3 col-md-6 my-bg">
          <div class="info-item d-flex flex-column justify-content-center align-items-center inside-box" data-aos="fade-up" data-aos-delay="300">
            <i class="bi bi-telephone"></i>
            <h3>{{'Professional Training.Complaints and Suggestions.contact' | translate}}</h3>
            <p>201090963631+</p>
          </div>
        </div><!-- End Info Item -->

        <div class="col-lg-3 col-md-6 my-bg">
          <div class="info-item d-flex flex-column justify-content-center align-items-center inside-box" data-aos="fade-up" data-aos-delay="400">
            <i class="bi bi-envelope"></i>
            <h3>{{'Professional Training.Complaints and Suggestions.email' | translate}}</h3>
            <p>Albenaa.con@gmail.com</p>
          </div>
        </div><!-- End Info Item -->

      </div>

      <div class="row gy-4 mt-1">
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
            <img src="../../../../../assets/img/proplems2.png" width="500" height="300" >
        </div><!-- End Google Maps -->

        <div class="col-lg-6">
          <form (ngSubmit)="submitForm()" class="php-email-form" data-aos="fade-up" data-aos-delay="400">
            <div class="row gy-4">

              <div class="col-md-6">
                <input type="text" name="name" class="form-control" [(ngModel)]="formData.name" placeholder="{{'Professional Training.Complaints and Suggestions.name' | translate}}" required="">
              </div>

              <div class="col-md-6 ">
                <input type="email" class="form-control" name="email" [(ngModel)]="formData.email" placeholder="{{'Professional Training.Complaints and Suggestions.email' | translate}}" required="">
              </div>

              <div class="col-md-12">
                <input type="text" class="form-control" name="subject" [(ngModel)]="formData.subject" placeholder="{{'Professional Training.Complaints and Suggestions.subject' | translate}}" required="">
              </div>

              <div class="col-md-12">
                <textarea class="form-control" name="message" rows="6" [(ngModel)]="formData.description" placeholder="{{'Professional Training.Complaints and Suggestions.message' | translate}}" required=""></textarea>
              </div>

              <div class="col-md-12 text-center">
               

                <button type="submit">{{'Professional Training.Complaints and Suggestions.send' | translate}}</button>
              </div>

            </div>
          </form>
        </div>
      </div>

    </div>

  </section>


  
