<section id="vision" class="vision section">
    <div class="container">
        <h3 class="text-decoration-underline" >{{'Construction Services.General Contracting' | translate}}</h3>

        <div class="col-lg-8" id="mkalat">
            <div>{{'Construction Services.description_1' | translate}}
           </div>
            <div>
                {{'Construction Services.description_2' | translate}}
            </div>

            <div>
                {{'Construction Services.description_3' | translate}}
            </div>

            <h3 class="text-decoration-underline ">{{'Construction Services.Technical Office Works' | translate}}</h3>
            <div>
                {{'Construction Services.description2' | translate}}
            </div>

            <h3 class="text-decoration-underline " >{{'Construction Services.Design works' | translate}}</h3>
            <div id="tasmem">
                {{'Construction Services.description3' | translate}}

            </div>

            <h3 class="text-decoration-underline "> {{'Construction Services.Architectural design' | translate}}</h3>
            <div>
                {{'Construction Services.description4' | translate}}
            </div>
            <h3 class="text-decoration-underline "> {{'Construction Services.Interior design' | translate}}</h3>
            <div>
                - {{'Construction Services.description5' | translate}}

            </div>
            <h3 class="text-decoration-underline "> {{'Construction Services.Types of designs' | translate}}</h3>
            <ol>
                <li>{{'Construction Services.description6.p1' | translate}}</li>
                <li>{{'Construction Services.description6.p2' | translate}}</li>
                <li>{{'Construction Services.description6.p3' | translate}}</li>
                <li>{{'Construction Services.description6.p4' | translate}}</li>
                <li>-{{'Construction Services.description6.p5' | translate}}</li>

            </ol>
            <div>
                {{'Construction Services.description6.description' | translate}}
            </div>


             
         <h3 class="text-decoration-underline ">{{'Construction Services.Architectural design2' | translate}}</h3>

         <div>
            {{'Construction Services.description7' | translate}}</div>


        <h3 class="text-decoration-underline "> {{'Construction Services.Structural design and analysis' | translate}}</h3>
        <div>
            {{'Construction Services.description8' | translate}}
        </div>
        <div>
            
            {{'Construction Services.description8_2' | translate}}

        </div>

        <h3 class="text-decoration-underline ">{{'Construction Services.Project preparation and technical office' | translate}}</h3>
        <ol>
            <li>{{'Construction Services.description9.p1' | translate}}</li>
            <li>{{'Construction Services.description9.p2' | translate}}</li> 
            <li>{{'Construction Services.description9.p3' | translate}}</li> 
            <li>{{'Construction Services.description9.p4' | translate}}</li> 
            <li>{{'Construction Services.description9.p5' | translate}}</li> 
            <li>{{'Construction Services.description9.p6' | translate}}</li>
            <li>{{'Construction Services.description9.p7' | translate}}</li>
            <li>{{'Construction Services.description9.p8' | translate}}</li>
        </ol>



        </div>
    </div>
</section>
          
