<footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>البناء الدولية</h3>
              <p>
                {{'aboutCourses.problems.addressDetails' |translate}}<br><br>
                <strong>{{'footer.title' |translate}}:</strong> 201090963631+<br><br>
                <strong> {{'footer.title2' |translate}}:</strong> Albenaa.com&#64;gmail.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="https://x.com/Albenaa_center?t=YG2GLgm9b-F2VhBFYosBkA&s=09" class="twitter" target="_blank" rel="noopener noreferrer">
                    <i class="bx bxl-twitter"></i>
                </a>
                <a href="https://www.facebook.com/share/1HrySpTftV/?mibextid=wwXIfr" class="facebook" target="_blank" rel="noopener noreferrer">
                    <i class="bx bxl-facebook"></i>
                </a>
                <a href="https://www.instagram.com/albenaa_international_company?igsh=a29wc2xxbjY3dGE0" class="instagram" target="_blank" rel="noopener noreferrer">
                    <i class="bx bxl-instagram"></i>
                </a>
                <a href="https://www.tiktok.com/@albenaa.center?lang=en&is_from_webapp=1&sender_device=mobile&sender_web_id=7471764170176120326" class="google-plus" target="_blank" rel="noopener noreferrer">
                    <i class="bx bxl-tiktok"></i>
                </a>
                <a href="https://www.youtube.com/channel/UCGUeEAII0NBTfS8_vPMJTGQ" class="linkedin" target="_blank" rel="noopener noreferrer">
                    <i class="bx bxl-youtube"></i>
                </a>
            </div>
            
            <div class="social-links mt-3">
                <a href="https://www.facebook.com/share/1FivL3aMMh/?mibextid=wwXIfr" class="facebook" target="_blank" rel="noopener noreferrer">
                    <i class="bx bxl-facebook"></i>
                </a>
                <a href="https://www.instagram.com/albenaa_center?igsh=MTl6NmRwMWQ0em9xdg==" class="instagram" target="_blank" rel="noopener noreferrer">
                    <i class="bx bxl-instagram"></i>
                </a>
            </div>
            

            </div>
          </div>


          <div class="col-lg-2 col-md-6 footer-links">
            <h4>{{'footer.title3' |translate}} </h4>
            <ul>
              <li><i class="bx bx-chevron-left"></i> 
                  <a href="https://www.manpower.gov.eg/" target="_blank" rel="noopener noreferrer">{{'footer.p1' |translate}}</a>
              </li>
              <li><i class="bx bx-chevron-left"></i> 
                  <a href="http://www.mti.gov.eg/Arabic/aboutus/Sectors/Entities/NationalQualityInstitute/Pages/default.aspx" target="_blank" rel="noopener noreferrer">{{'footer.p2' |translate}}</a>
              </li>
              <li><i class="bx bx-chevron-left"></i> 
                  <a href="https://mcit.gov.eg/ar" target="_blank" rel="noopener noreferrer"> {{'footer.p3' |translate}}</a>
              </li>
              <li><i class="bx bx-chevron-left"></i> 
                  <a href="https://www.moss.gov.eg/ar-eg/Pages/default.aspx" target="_blank" rel="noopener noreferrer">{{'footer.p4' |translate}}</a>
              </li>
          </ul>
          
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>{{'footer.title4' |translate}}</h4>
            <ul>
              <li><i class="bx bx-chevron-left"></i> <a routerLink="">{{'footer.p5' |translate}}</a></li>
              <li><i class="bx bx-chevron-left"></i> <a routerLink="longTerm"> {{'footer.p6' |translate}}</a></li>
              <li><i class="bx bx-chevron-left"></i> <a routerLink="aboutCourse">{{'footer.p7' |translate}}</a></li>
              <li><i class="bx bx-chevron-left"></i> <a routerLink="jobs">{{'footer.p8' |translate}}</a></li>
              <li><i class="bx bx-chevron-left"></i> <a routerLink="magazine">{{'footer.p9' |translate}}</a></li>
              <li><i class="bx bx-chevron-left"></i> <a routerLink="news"> {{'footer.p10' |translate}}</a></li>


            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">

            <h4> {{'footer.title5' |translate}} </h4>

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d28156.428379145927!2d30.790957225683595!3d28.09915799999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x145b2568599f5181%3A0xe30c54aafde7ac93!2z2YXYsdmD2LIg2KfZhNio2YbYp9ihINin2YTYr9mI2YTZiiDZhNmE2K_Ysdin2LPYp9iqINin2YTZhdiq2LfZiNix2Kkg2YjYp9mE2KrYr9ix2YrYqA!5e0!3m2!1sar!2seg!4v1711597978438!5m2!1sar!2seg" width="400" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div><!-- End Google Maps -->

          </div>

        </div>
      </div>

            <!-- Logos Section -->
  <div class="container text-center my-3">
    <div class="logos d-flex justify-content-center align-items-center">
      <img src="../../../assets/img/logo1.jpeg" alt="Logo 1" class="logo">
      <img src="../../../assets/img/logo2.jpeg" alt="Logo 2" class="logo">
      <img src="../../../assets/img/logo3.jpeg" alt="Logo 3" class="logo">
      <img src="../../../assets/img/logo4.jpeg" alt="Logo 4" class="logo">
    </div>
  </div>

    </div>



    <div class="container">
      <div class="copyright">
          <strong><span> {{'footer.p11' |translate}}</span></strong> 
      </div>
      
    </div>
  </footer>

