<section id="vision" class="vision section" [ngClass]="directionService.getDirection()">

    <div class="container section-title" data-aos="fade-up">
      <span class="my-shadow">{{'Albenaa Company Vision' | translate}}<br></span>
      <h2 class="">{{'Albenaa Company Vision' | translate}}<br></h2>
    </div>

    <div class="container">

      <div class="row gy-4">

        <!-- <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
          <img src="assets/img/about.jpg" class="img-fluid" alt="">
        </div> -->

        <div class="col-lg-10 order-2 order-lg-1 content" data-aos="fade-up" data-aos-delay="200">
          <!-- <h3>أهــداف وأنشطه المؤسسة التي أنشأت لتحقيقها :</h3> -->
          <h3>البن{{'vision_description1' | translate}}
            </h3>
            <h3>{{'vision_description2' | translate}}</h3>

                <h3>{{'vision_description3' | translate}}:</h3>
          <!-- <p class="fst-italic">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua.
          </p> -->
          <ul>
            <li><i class="bi bi-check-circle"></i> <span><b>{{'data.p1' | translate}}</b></span></li>
            <li><i class="bi bi-check-circle"></i> <span><b>{{'data.p2' | translate}}</b></span></li>
            <li><i class="bi bi-check-circle"></i> <span><b>{{'data.p3' | translate}}</b></span></li>
            <li><i class="bi bi-check-circle"></i> <span><b>{{'data.p4' | translate}}:</b></span></li>
            <li class="space"><i class="bi bi-check-circle"></i> <span>{{'data.points.p1' | translate}}</span></li>
            <li class="space"><i class="bi bi-check-circle"></i> <span>{{'data.points.p2' | translate}}</span></li>
            <li class="space"><i class="bi bi-check-circle"></i> <span>{{'data.points.p3' | translate}}</span></li>
            <li class="space"><i class="bi bi-check-circle"></i> <span>{{'data.points.p4' | translate}}</span></li>

            


          </ul>
        </div>

      </div>

    </div>

  </section>
